type oneseg_mw, domain, mlstrustedsubject;
type oneseg_mw_exec, exec_type, file_type;
type oneseg_mw_service, service_manager_type;
type oneseg_prop, property_type;
init_daemon_domain(oneseg_mw)

binder_call(oneseg_mw, mediaserver)
binder_call(oneseg_mw, oneseg_mw)
binder_call(oneseg_mw, surfaceflinger)
binder_call(oneseg_mw, system_app)
binder_call(oneseg_mw, system_server)
binder_service(oneseg_mw)
binder_use(oneseg_mw)

allow oneseg_mw init:unix_stream_socket { read write };
allow oneseg_mw mpdecision:unix_stream_socket connectto;
allow oneseg_mw platform_app:binder call;
allow oneseg_mw rild:unix_stream_socket connectto;
allow oneseg_mw self:capability { dac_override net_raw net_admin };
allow oneseg_mw system_app:fd use;

allow oneseg_mw sdcard_type:dir create_dir_perms;
allow oneseg_mw sdcard_type:file create_file_perms;
allow oneseg_mw sysfs:file w_file_perms;

allow oneseg_mw audio_device:chr_file rw_file_perms;
allow oneseg_mw audio_device:lnk_file r_file_perms;
allow oneseg_mw audio_device:dir r_dir_perms;
allow oneseg_mw block_device:dir search;
allow oneseg_mw device:sock_file write;
allow oneseg_mw mmb_device:sock_file create_file_perms;
allow oneseg_mw mmb_device:chr_file rw_file_perms;
allow oneseg_mw random_device:chr_file r_file_perms;
allow oneseg_mw socket_device:sock_file w_file_perms;
allow oneseg_mw video_device:dir r_dir_perms;
allow oneseg_mw video_device:lnk_file r_file_perms;
allow oneseg_mw video_device:chr_file rw_file_perms;

allow oneseg_mw efs_file:dir search;
allow oneseg_mw media_rw_data_file:dir create_dir_perms;
allow oneseg_mw media_rw_data_file:file create_file_perms;
allow oneseg_mw media_rw_data_file:file { getattr link unlink rename };
allow oneseg_mw oneseg_data_file:dir create_dir_perms;
allow oneseg_mw oneseg_data_file:file create_file_perms;
allow oneseg_mw oneseg_data_file:lnk_file create_file_perms;
allow oneseg_mw oneseg_mw_exec:file rx_file_perms;
allow oneseg_mw radio_data_file:file r_file_perms;
allow oneseg_mw radio_data_file:dir search;
allow oneseg_mw shell_exec:file rx_file_perms;
allow oneseg_mw system_data_file:dir create_dir_perms;
allow oneseg_mw system_data_file:file r_file_perms;

allow oneseg_mw system_data_file:sock_file create_file_perms;
allow oneseg_mw system_file:file x_file_perms;

allow oneseg_mw activity_service:service_manager find;
allow oneseg_mw self:udp_socket { create setopt bind write read shutdown name_bind node_bind };
allow oneseg_mw port:udp_socket { name_bind };
allow oneseg_mw node:udp_socket { node_bind };
allow oneseg_mw port:tcp_socket name_connect;
allow oneseg_mw self:tcp_socket { write read create setopt connect };
allow oneseg_mw oneseg_mw_service:service_manager { add find };

allow oneseg_mw app_data_file:file w_file_perms;
allow oneseg_mw platform_app_data_file:file w_file_perms;

allow oneseg_mw mediaserver_service:service_manager find;
allow oneseg_mw surfaceflinger_service:service_manager find;
allow oneseg_mw system_file:file execmod;

set_prop(oneseg_mw, oneseg_prop)
