allow system_app efs_file:dir search;
allow system_app felica_device:chr_file rw_file_perms;
allow system_app felica_efs_file:file create_file_perms;
allow system_app felica_efs_file:dir create_dir_perms;
allow system_app nfcfelica_device:chr_file rw_file_perms;
